DAILY_API_KEY=eb12a682a1

TWILIO_ACCOUNT_SID=ACf76
TWILIO_AUTH_TOKEN=3ce95800e
TWILIO_FROM_NUMBER=+171767

OPENAI_API_KEY=sk-proj-83tAeFf3j4A
GEMINI_API_KEY=AI-sdsaknas


NGROK_URL=2.ngrok-free.app
VITE_NGROK_URL=2.ngrok-free.app